:root {
    --main--color : #1D4ED8;
    --sec--color : #A0A3BD;
    --font : 'Mulish';
}

* {
     margin: 0;
     padding: 0;
     font-family: var(--font);
     outline: none;
}

body {
    background-color: rgba(160,163,189,0.2);
    max-height: 100vh;

}



header {
    border: 0.1rem solid white;
    background-color: white ;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 5rem;
}


.nav-link a {
    text-decoration: none;
    color: #0F172A;
    padding: 0 2rem;
    font-size: 14px;

}

.btn-sign-log {
    display: flex;
    gap: 1rem;
}

.btn-sign-log div a {
    text-decoration: none;
}

.btn-log {
    background-color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: 1.5px solid var(--main--color);
}


.btn-up {
    background-color: #1D4ED8;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
}

.btn-up:hover {
    background-color: #3a7bc8;
}

.btn-log a {
    color: var(--main--color);
}

.btn-up a {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
}

.progress {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}


.container {
    margin: 1rem 20rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;

}

.section-title {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2rem;
}



.date, .movie-title, .cinema-name-title, .tickets, .total {
    color: var(--sec--color);
    font-size: small;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.date2, .movie, .cinemaName, .total-tickets, .price {
    font-size: small;
    border-bottom: 1px solid var(--sec--color);
    padding-bottom: 1rem;
}

.price {
    font-weight: bold;
    color: var(--main--color);
    font-size: medium;
    margin-bottom: 3rem;
}

.personal-information {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2rem;
}

.fullName, .email, .phoneNumber {
    color: #696F79;
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 1rem;
    border: 1px solid #696F79;
    border-radius: 4px;
    padding: 0.8rem 12.4rem;
}

.payment-method {
    margin-top: 2rem;
    margin-right: 1 rem;
    margin-bottom: 2rem;
}

.payment-1, .payment-2 {
    display: flex;
    gap: 1rem;
}

.payment-1 {
    margin-bottom: 1rem;
}

.payment-2 {
    margin-bottom: 1rem;
}
.social-btn {
            padding: 10px 35px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .social-btn:hover {
            background-color: #f9f9f9;
        }
        
        .social-btn img {
            width: 50px;
            margin-right: 7px;
        }

.btn-pay {
    display: flex;
    justify-content: center;

}        

.btn-pay a {
 text-decoration: none;
 color: #fff;
 font-weight: bold;
 border-radius: 6px;
}        

.btn-pay button {
    background-color: var(--main--color);
    border: 1px solid transparent;
    padding: 0.5rem 14rem;
    border-radius: 6px;
}

.container-footer {
    margin: 5rem 5rem;
    display: flex;
    justify-content: space-between;  
    background-color: #fff; 
    padding-top: 4rem;
}


.footer1 div img {
   margin-bottom: 1rem;
}

.footer1 div p {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    font-weight: 100;
}

.footer2>div:first-child {
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer2>div:nth-child(2) {
    font-weight: 200;
}

.footer2>div:nth-child(3) {
    font-weight: 200;
}

.footer2>div:nth-child(4) {
    font-weight: 200;
}

.footer2>div:nth-child(5) {
    font-weight: 200;
}

.footer3 div p {
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer3 div img {
    margin-bottom: 1rem;
}

.facebook {
    display: flex;
    gap: 1rem;
    font-weight: 200;
}

.ig {
    display: flex;
    gap: 1rem;
    font-weight: 200;
}

.x {
    display: flex;
    gap: 1rem;
    font-weight: 200;
}

.ytb {
    display: flex;
    gap: 1rem;
    font-weight: 200;
}

.follow {
    font-weight: bold;
    margin-bottom: 1rem;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-weight: 100;
    padding-bottom: 2rem;
}

footer {
    background-color: white;
    margin-top: 2rem;
    
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 100;
    pointer-events: none;
    transition: opacity 100s ease;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 16px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    transform: translateY(-20px);
    transition:none
}

.title-card {
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.acc-num {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.payment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.field, .due-date {
    color: #8692A6;
}

.number {
    font-weight: bold;
}

.money {
    font-weight: bold;
    color: #1D4ED8;
}

.due-date span {
    color: #D00707;
}

.check-payment a, .pay-later a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.check-payment a {
    padding: 1rem 1rem;
    background-color: #1D4ED8;
    color: white;
    margin-bottom: 2rem;
    border-radius: 6px;
}

.due-date {
    margin-bottom: 3rem;
}

.pay-later a {
    color: #1D4ED8;
}

.copy {
    color: #1D4ED8;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #1D4ED8;
    border-radius: 4px;
}

.number {
    margin-left: 6rem;
}




@media (max-width: 768px) {

    .modal {
        font-size: small;
    }
    
    .container-footer {
        display: flex;
        flex-wrap: wrap;
    }


    #hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link a {
        display: none;
    }
    
    .btn-up, .btn-log {
        display: none;
    }

    .home-logo {
        width: 50%;
    }

    .container {
        width: 80%;
    }

    input {
        padding-right: 1rem;
    }

    .social-btn {
        width: 21%;
    }

    .btn-pay button{
        width: 10%;
        border-radius: 8px;
    }

    .btn-pay button a {
        font-size: small;
    }

    

}